.gradient-line{
    display: inline-block;
    height: 7px;
    width: 250px;
    border-radius: 20px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.actions{
    font-family: "Mont SemiBold", serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 70px;
}

.actions p{
    padding-bottom: 25px;
}

.action{
    display: flex;
}
