.right-popup{
    position: absolute;
    top: 20px;
    right: 45px;

    font-family: "Mont Regular", serif;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.setting{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 10px;

}

.setting span{
    margin-right: 20px;
}


