*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
body{
    background-color: #32323e;
    color: white;
    padding: 0 30px;
}

nav{
    padding-top: 20px;
    padding-left: 15px;
}
ul{
    display: flex;
    font-family: "Mont Regular", serif;
    font-size: 16px;
    text-decoration: none;
}
ul li{
    list-style: none;
}

ul li a{
    margin-right: 35px;
}

.menu-selected{
    padding: 10px 15px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-radius: 20px;
}

.menu-selected span{
    padding: 20px 10px;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 20px;

    -webkit-appearance: none;
    outline: none;
    background: #454555;
    transition: .1s;
}

input:checked[type="checkbox"] {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

input[type="checkbox"]:before {
    content: '';

    position: absolute;
    top: 0;
    right: 20px;

    width: 20px;
    height: 20px;
    transform: scale(0.85);

    border-radius: 20px;

    background: white;
    transition: .1s;
}

input:checked[type="checkbox"]:before{
    right: 0;

}

.checkbox-wrapper{
    position: relative;
}

.row{
    display: flex;
}

.profile-container:hover{
    background-color: #454555;

}
.profile-container{
    width: 192px;
    height: 106px;
    position: relative;

    margin-right: 15px;
    margin-bottom: 15px;

    background-color: #272730;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.profile-name{
    font-family: "Mont SemiBold", serif;
    font-size: 16px;
}

.apps-counter{
    font-family: "Myriad Pro Regular", serif;
    font-size: 12px;
}

.profile-tiles{
    position: absolute;
    padding: 0 15px;
    bottom: 25px;
}

.main-slogan{
    padding-top: 100px;
    text-align: center;

    font-family: "Mont Regular", serif;
    font-size: 18px;
}

.big{
    font-family: "Mont SemiBold", serif;
    font-size: 36px;

    padding-bottom: 20px;
}

.spinner{
    content: "";
    width: 10px;
    height: 10px;
    border: 3px solid transparent;
    border-top-color: #12c2e9;
    border-left-color: #12c2e9;
    border-radius: 50%;
    animation: loading .7s linear infinite;
    margin-left: 5px;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.right-popup{
    position: absolute;
    top: 50px;
    right: 20px;

    font-family: "Mont Regular", serif;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a{
    text-decoration: none;
    color: white;
}


.tick {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.tick::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.tick::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#navigation {
    padding-top: 20px;
    margin-right: 20px;
    font-family: "Mont SemiBold", serif;
    -webkit-app-region: drag;
    -webkit-user-select: none;

}

#navigation span{
        cursor: grab;

}
#close-button {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-radius: 50px;

}

#close-button::before, #close-button::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 5px;
    height: 15px;
    background: #32323e;
}

#close-button::before {
    transform: rotate(-45deg);
}

#close-button::after {
    transform: rotate(45deg);
}

#draggable {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 500px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
