{% extends 'base.html' %}
{% block head %}
<style>
  .main-slogan{
    position: relative;
  }
  .big{
    padding-bottom: 100px;
  }
  footer{
    display: flex;
  }
  img{
    width: 30px;
    padding-left: 20px;
  }

  footer{
    padding-top: 70px;
    flex-direction: column;
    font-family: "Mont Regular", serif;
    align-items: center;
    margin: 0 20px;
  }

</style>
{% endblock %}
{% block content %}
<div class="main-slogan">
  <p class="big">Startup Manager</p>
  <p style="position: absolute; top: 90px; right: 210px;">v2.0</p>
  <p style="width: 600px; margin: 0 auto; font-size: 18px;">
    This is a simple program that allows you to create a sets of applications so called "Profiles" and start them all automatically in one click. You can use it whether to choose what to start when system boots up or for your custom needs.
  </p>
</div>
<footer>
  <p style="padding-bottom: 10px">Made by kokokojo2</p>
  <p>https://github.com/kokokojo2/Strartup-Profiles-Manager</p>
</footer>
{% endblock %}
