<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startup Manager</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a class="menu-selected" href="main_menu.html"><span>Home</span></a></li>
        <li><a href="create_profile.html"><span>Create profile</span></a></li>
        <li><a href="choose_profile.html"><span>Profiles</span></a></li>
        <li><a href="about.html"><span>About</span></a></li>
    </ul>
</nav>
    {% block content %}{% endblock %}
</body>
{% block scripts %}{% endblock %}
</html>