<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startup Manager</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <script type="text/javascript" src="/eel.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="draggable"></div>
<div style="display: flex; justify-content: space-between">
    <nav>
        <ul>
            <li><a href="main_menu.html" id="0" onclick="update_page_id(0)"><span>Home</span></a></li>
            <li><a href="create_profile.html" id="1" onclick="update_page_id(1)"><span>Create profile</span></a></li>
            <li><a href="choose_profile.html" id="4" onclick="update_page_id(4)"><span>Profiles</span></a></li>
            <li><a href="about.html" id="6" onclick="update_page_id(6)"><span>About</span></a></li>
        </ul>
    </nav>
    <div id="close-button" onclick="window.close();"></div>
</div>
<div id="contents">
    {% block content %}{% endblock %}
</div>
</body>
<script>
    async function add_curr_page_gradient(){
        let curr_page = await  eel.get_current_page_id()();
        document.getElementById(curr_page).className = "menu-selected";
    }
    add_curr_page_gradient();
</script>
<script>
    async function update_page_id(id) {
        await eel.update_current_page_id(id)();
    }
</script>
{% block scripts %}{% endblock %}
</html>