{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../css/choose_profile.css">
    <script src="../js/mid_level.js"></script>
    <link rel="stylesheet" href="../css/create_profile.css">
{% endblock %}
{% block content %}
<div class="main-slogan">
    <p>Please, choose a profile.</p>
</div>
<div class="profile-tiles"></div>
{% endblock %}
{% block scripts %}
<script>
    load_profile_list();
    setTimeout(function () {
                add_remove_button();
        }, 500);
    setTimeout(function () {
        let profiles = document.getElementsByClassName("profile-container");
        console.log(profiles);
        for(let profile of profiles) {
            profile.addEventListener("click", choose_profile_detail);
        }
    }, 500);
</script>
<script>
    function dropHandler(ev) {
        ev.preventDefault();

        if (ev.dataTransfer.items) {
              if (ev.dataTransfer.items[0].kind === 'file') {
                  let file = ev.dataTransfer.items[0].getAsFile();
                  ev.target.value = file.path;
              }
        }
    }
</script>
{% endblock %}