{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="../css/choose_profile.css">{% endblock %}
{% block content %}
<div class="main-slogan">
    <p>Please, choose a profile.</p> <!-- TODO: Capture stuff if no profiles-->
</div>
<div class="profile-tiles">
<div class="row">
        <div class="profile-container">
            <a><p class="profile-name">Work</p></a>
            <p class="apps-counter">7 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
        <div class="profile-container">
            <a><p class="profile-name">Gamer</p></a>
            <p class="apps-counter">3 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
        <div class="profile-container">
            <a><p class="profile-name">Beautiful home</p></a>
            <p class="apps-counter">4 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
        <div class="profile-container">
            <a><p class="profile-name">CAD</p></a>
            <p class="apps-counter">10 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
    </div>
    <div class="row">
        <div class="profile-container">
            <a><p class="profile-name">Surfing net</p></a>
            <p class="apps-counter">2 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
        <div class="profile-container">
            <a><p class="profile-name">C++ developing</p></a>
            <p class="apps-counter">3 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
        <div class="profile-container">
            <a><p class="profile-name">Fast meeting</p></a>
            <p class="apps-counter">4 apps</p>
            <img src="../resources/trash.png" alt="delete">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}