{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../css/create_profile.css">
    <script src="../js/mid_level.js"></script>
{% endblock %}
{% block content %}
<div class="right-popup"></div>
<div class="center-container">
    <input type="text" class="profile-name-detail" placeholder="New profile name">
    <div class="checkbox-wrapper">
        <p>Launch each entry with a delay</p>
        <input type="checkbox" id="timeout_mode">
    </div>
    <table>
        <tr id="head">
            <th style="width: 20%">Name</th>
            <th style="width: 10%">Priority</th>
            <th style="width: 60%">Path to executable</th>
            <th style="display: none;"  class="timeout-cell head">Timeout</th>
            <th style="background-color: transparent;"></th>
        </tr>
        <tr class="space1"></tr>
        <tr class="profile-entry">
            <td><input type="text" class="table-cell"></td>
            <td><input type="text" class="table-cell"></td>
            <td><input type="text" class="table-cell" ondrop="dropHandler(event)" placeholder="Drop .exe file or shortcut here."></td>
            <td style="display: none;" class="timeout-cell"><input type="text" class="table-cell"></td>
            <td style="background-color: transparent; width: 10px;"><img src="../resources/trash.png" onclick="remove_row(event)"></td>
        </tr>
    </table>
        <button id="add-entry">+</button>
        <button id="save" onclick="save_profile('create');">Save</button>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.getElementById("add-entry").onclick = function () {

        let new_entry = document.createElement('tr');
        new_entry.className = "profile-entry";
        let checkbox = document.querySelector("input[type=checkbox]");
        new_entry.innerHTML = "<td><input type=\"text\" class=\"table-cell\"></td>\n".repeat(2);
        new_entry.innerHTML += "<td><input type=\"text\" class=\"table-cell\" ondrop=\"dropHandler(event)\" placeholder=\"Drop .exe file or shortcut here.\"></td>";

        new_entry.innerHTML += checkbox.checked ? "<td class=\"timeout-cell\"><input type=\"text\" class=\"table-cell\"></td>" : "<td style=\"display: none;\" class=\"timeout-cell\"><input type=\"text\" class=\"table-cell\"></td>"

        new_entry.innerHTML += "<td style=\"background-color: transparent; width: 10px;\"><img src=\"../resources/trash.png\" onclick='remove_row(event)'></td>";
        let table = document.getElementsByTagName('table')[0];
        table.appendChild(new_entry);
    }
</script>
<script>
    let checkbox = document.querySelector("input[type=checkbox]");

    checkbox.addEventListener('change', function() {
        let timeout_rows = document.getElementsByClassName('timeout-cell');
        if (this.checked) {
            for (let row of timeout_rows) {
                if (row.className === "timeout-cell head") {
                    row.setAttribute('style', 'width: 15%');
                } else {
                    row.removeAttribute('style');
                }
            }
        } else {
            for (let row of timeout_rows) {
                row.setAttribute('style', 'display: none;');
            }
        }
});
</script>
<script>
    function dropHandler(ev) {
        ev.preventDefault();

        if (ev.dataTransfer.items) {
              if (ev.dataTransfer.items[0].kind === 'file') {
                  let file = ev.dataTransfer.items[0].getAsFile();
                  ev.target.value = file.path;
              }
        }
    }
</script>
<script>
    function remove_row(ev) {
        ev.target.parentElement.parentElement.remove();
    }
</script>
{% endblock %}
