{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../css/main%20menu.css">
    <link rel="stylesheet" href="../css/launch_profile.css">
    <script type="text/javascript" src="../js/mid_level.js"></script>
{% endblock %}
{% block content %}
    <div class="right-popup">
        <div class="setting">
            <span>Start with Windows</span>
            <div class="checkbox-wrapper">
                <input type="checkbox" name="">             <!-- TODO: add name here-->
            </div>
        </div>
        <div class="setting">
            <span>Close after profile launch</span>
            <div class="checkbox-wrapper">
                <input type="checkbox" name="">             <!-- TODO: add name here-->
            </div>
        </div>
    </div>
    <div class="main-slogan">
        <p class="big">Hi, there!</p>
    </div>
    <div class="profile-tiles"></div>
{% endblock %}
{% block scripts %}
<script>
    load_profile_list();
    setTimeout(function () {
        let profiles = document.getElementsByClassName("profile-container");
        for(let profile of profiles) {
            profile.addEventListener('click', choose_profile);
        }
    }, 500);
</script>
{% endblock %}