{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../css/main%20menu.css">
    <link rel="stylesheet" href="../css/launch_profile.css">
    <script type="text/javascript" src="../js/mid_level.js"></script>
{% endblock %}
{% block content %}
    <div class="right-popup">
        <div class="setting">
            <span>Start with Windows</span>
            <div class="checkbox-wrapper">
                <input type="checkbox" id="start-with-windows">
            </div>
        </div>
        <div class="setting">
            <span>Close after profile launch</span>
            <div class="checkbox-wrapper">
                <input type="checkbox" id="close-after-launch">
            </div>
        </div>
    </div>
    <div class="main-slogan"></div>
    <div class="profile-tiles"></div>
{% endblock %}
{% block scripts %}
    <script>
        load_profile_list("main_menu");
        setTimeout(function () {
            let profiles = document.getElementsByClassName("profile-container");
            for(let profile of profiles) {
                profile.addEventListener("click", on_launch_profile);
            }
        }, 500);
        load_settings();
        document.getElementById("close-after-launch").addEventListener("change", update_settings);
        document.getElementById("start-with-windows").addEventListener("change", update_settings);
    </script>
{% endblock %}